<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tiny_demo.modules.ums.mapper.UmsAdminRoleRMapper">
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ums_admin_role_relation
        ( admin_id, role_id )
        VALUES
        <foreach collection="list" item="model" separator=",">
            ( #{model.adminId}, #{model.roleId} )
        </foreach>
    </insert>


    <delete id="delete">
        DELETE
        FROM ums_admin_role_relation
        WHERE admin_id = #{adminId}
    </delete>
</mapper>