<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tiny_demo.modules.ums.mapper.UmsAdminRoleRMapper">
    <resultMap id="UmsAdminRoleRMap" type="com.example.tiny_demo.modules.ums.model.UmsAdminRoleR">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="admin_id" property="adminId"/>
    </resultMap>
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ums_admin_role_relation
        ( admin_id, role_id )
        VALUES
        <foreach collection="list" item="model" separator=",">
            ( #{model.adminId}, #{model.roleId} )
        </foreach>
    </insert>


    <delete id="delete">
        DELETE
        FROM ums_admin_role_relation
        WHERE admin_id = #{adminId}
    </delete>
    <select id="selectByRoleId" resultMap="UmsAdminRoleRMap">
        select ar.* from ums_admin_role_relation ar
        <if test="roleId != null">
            where ar.role_id = #{roleId}
        </if>
    </select>
    <select id="selectByRoleIds" resultMap="UmsAdminRoleRMap">
        select ar.* from ums_admin_role_relation ar
        <if test="roleIds != null">
            where ar.role_id in
            <foreach collection="list" item="roleId" separator="," open="(" close=")">
                #{roleId}
            </foreach>
        </if>
    </select>
</mapper>