<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tiny_demo.modules.ums.mapper.UmsMenuMapper">
    <resultMap id="UmsMenuDoMap" type="com.example.tiny_demo.modules.ums.model.UmsMenuDo">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="title" property="title"/>
        <result column="level" property="level"/>
        <result column="sort" property="sort"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="hidden" property="hidden"/>
    </resultMap>

    <insert id="insert" parameterType="list">
        INSERT INTO ums_menu
        ( parent_id, create_time, title, level, sort, name, icon, hidden )
        VALUES
        <foreach collection="list" item="menu" separator=",">
            ( #{menu.parentId}, #{menu.createTime}, #{menu.title}, #{menu.level}, #{menu.sort}, #{menu.name},
            #{menu.icon}, #{menu.hidden} )
        </foreach>
    </insert>
    <update id="update">
        UPDATE ums_menu
        <set>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="hidden != null">
                hidden = #{hidden},
            </if>
        </set>
        WHERE id= #{id}
    </update>

    <delete id="deleteByIdBatch">
        DELETE FROM ums_menu
        <where>
            id in
            <foreach collection="list" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </delete>

    <select id="selectByIdBatch" parameterType="list" resultMap="UmsMenuDoMap">
        SELECT id,parent_id,create_time,title,level,sort,name,icon,hidden
        FROM ums_menu
        <where>
            id in
            <foreach collection="list" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </select>

    <select id="selectBatch" resultMap="UmsMenuDoMap">
        SELECT id,parent_id,create_time,title,level,sort,name,icon,hidden
        FROM ums_menu where 1 = 1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="parentId != null">
            and parent_id = #{parentId}
        </if>
    </select>
    <select id="getMenuListByRoleId" resultMap="UmsMenuDoMap">
        select m.*
        from ums_role_menu_relation rm
                 LEFT JOIN ums_menu m on m.id = rm.menu_id
        where rm.role_id = #{roleId}
    </select>
    <select id="getMenuList" resultType="com.example.tiny_demo.modules.ums.model.UmsMenuDo">
        select m.* from
            ums_admin a
                LEFT JOIN ums_admin_role_relation ar on a.id = ar.admin_id
                left join ums_role_menu_relation rm on rm.role_id = ar.role_id
                left join ums_menu m on rm.menu_id = m.id
        where a.id = #{adminId}
    </select>

</mapper>